<article class="post">
  <div class="title">
    <a href="/posts/{{id}}" target="_blank">{{title}}</a>
    <p class="user-info">Posted by {{user.username}} on  {{format_date created_at}}</p>
  </div>
  <div class="meta">
    <p>{{content}}</p>
  </div>
</article>